# Environment variables and configuration
.env
env-config.js

# Python virtual environment
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# JavaScript
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Application specific
/videosum/videos/*
/videosum/output.txt
/foodscanner/barcode.txt

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# PDF
23030142015_RajatRaj.pdf
